---
// @ts-nocheck
// Importer nødvendige moduler
import Layout from "../../Layout.astro";
import KnapKurv from "../../components/Knap_kurv.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";

// Funktion til at hente de statiske paths
export async function getStaticPaths() {
  const response = await fetch(
    "https://edmdwdbbleydenvducsr.supabase.co/rest/v1/skitse?select=*",
    {
      method: "GET",
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVkbWR3ZGJibGV5ZGVudmR1Y3NyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU2MTk3MDQsImV4cCI6MjAzMTE5NTcwNH0.FuI_0k2FhT6bryNsIK2YrNwfo_XJGqVMm9bbVrtxHrU",
      },
    }
  );

  const data = await response.json();
  return data.map((element) => {
    return {
      params: { id: element.id },
      props: { data: element },
    };
  });
}

const { data } = Astro.props;
console.log(data);
---

<Layout>
  <article>
    <div class="singleview">
      <div>
        <img src={data.skitseimg} alt="Billede af skitsen" class="skitseimg" />
      </div>
      <div>
        <div class="info">
          <h2 class="kunstner_skitse">{data.kunstner}</h2>
          <h2 class="navn_skitse">{data.navn}</h2>
          <h2 class="maal_skitse">{data.maal}</h2>
          <h3 class="pris_skitse">{data.pris}</h3>
          <KnapKurv />
        </div>
        <p class="beskrivelse">{data.beskrivelse}</p>
      </div>
    </div>
  </article>

  <h2 class="overskrift">Andre værker</h2>

  <div class="grid_1_1_1">
    <div class="gemte">
      <div class="image-container">
        <img src="/medier/gemt1.webp" alt="likede billeder" class="main_img" />
        <img src="/medier/hjerte.webp" alt="hjerte" class="heart_img" />
      </div>
      <p>Peter Vos Knude</p>
      <div class="info">
        <p class="størrelse">29,6 x 42 cm</p>
        <p class="pris">2.499 kr</p>
      </div>
      <div class="knapcontainer">
        <KnapKurv />
      </div>
    </div>

    <div class="gemte">
      <div class="image-container">
        <img src="/medier/gemt2.webp" alt="likede billeder" class="main_img" />
        <img src="/medier/hjerte.webp" alt="hjerte" class="heart_img" />
      </div>
      <p>Agnete Bertram</p>
      <div class="info">
        <p class="størrelse">37 x 29 cm</p>
        <p class="pris">2.499 kr</p>
      </div>
      <div class="knapcontainer">
        <KnapKurv />
      </div>
    </div>

    <div class="gemte">
      <div class="image-container">
        <img src="/medier/gemt3.webp" alt="likede billeder" class="main_img" />
        <img src="/medier/hjerte.webp" alt="hjerte" class="heart_img" />
      </div>
      <p>Peter Vos Knude</p>
      <div class="info">
        <p class="størrelse">20,9 x 29,6 cm</p>
        <p class="pris">2.499 kr</p>
      </div>
      <div class="knapcontainer">
        <KnapKurv />
      </div>
    </div>
  </div>
</Layout>
<style>
  .skitseimg {
    width: 300px;
    height: auto;
    margin-top: 100px;
  }

  .overskrift {
    padding-top: 80px;
    text-align: center;
  }

  .pris_skitse {
    color: var(--farve4);
  }

  .beskrivelse {
    width: 500px;
  }

  .singleview {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrerer vertikalt */
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-container {
    position: relative;
    display: inline-block;
  }

  .main_image {
    width: 250px;
    margin-top: 20px;
  }

  img.heart_img {
    width: 25px;
    height: 22px;
    position: absolute;
    top: 42px;
    right: 10px;
  }

  .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 300px;
    text-decoration: none;
    padding-bottom: 20px;
  }

  .pris {
    color: var(--farve3);
  }

  .størrelse {
    color: var(--farve2);
  }

  .grid_1_1_1 {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .knapcontainer {
    display: flex;
    justify-content: center;
    width: 100%; /* Sikrer at containeren fylder hele bredden */
  }
  @media (max-width: 800px) {
    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  @media (min-width: 800px) {
    .singleview {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 50px;
    }

    .skitseimg {
      max-width: 500px;
      height: auto;
    }

    .main_img {
      margin-top: 30px;
    }

    .andre-vaerker {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 40px;
      width: 400px;
      margin: auto;
    }

    .grid_1_1_1 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
    }
  }
</style>
