---
// @ts-nocheck
// Importer nødvendige moduler
import Layout from "../../Layout.astro";
import KnapKurv from "../../components/Knap_kurv.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";

// Funktion til at hente de statiske paths
export async function getStaticPaths() {
  const response = await fetch(
    "https://edmdwdbbleydenvducsr.supabase.co/rest/v1/skitse?select=*",
    {
      method: "GET",
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVkbWR3ZGJibGV5ZGVudmR1Y3NyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU2MTk3MDQsImV4cCI6MjAzMTE5NTcwNH0.FuI_0k2FhT6bryNsIK2YrNwfo_XJGqVMm9bbVrtxHrU",
      },
    }
  );

  const data = await response.json();
  return data.map((element) => {
    return {
      params: { id: element.id },
      props: { data: element },
    };
  });
}

const { data } = Astro.props;
console.log(data);
---

<Layout>
  <article>
    <div class="singleview">
      <div>
        <img src={data.skitseimg} alt="Billede af skitsen" />
      </div>
      <div>
        <div class="info">
          <h2 class="kunstner_skitse">{data.kunstner}</h2>
          <h2 class="navn_skitse">{data.navn}</h2>
          <h2 class="maal_skitse">{data.maal}</h2>
          <h3 class="pris_skitse">{data.pris}</h3>
          <KnapKurv />
        </div>
        <p class="beskrivelse">{data.beskrivelse}</p>
      </div>
    </div>
  </article>

  <style>
    img {
      width: 300px;
      height: auto;
      margin-top: 100px;
    }

    .pris_skitse {
      color: var(--farve4);
    }

    .beskrivelse {
      width: 500px;
    }

    .singleview {
      display: flex;
      flex-direction: column;
      align-items: center; /* Centrerer vertikalt */
    }
    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @media (max-width: 800px) {
      .info {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    @media (min-width: 800px) {
      .singleview {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
      }

      img {
        max-width: 500px;
        height: auto;
        margin-top: 100px;
      }

      .andre-vaerker {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        width: 400px;
        margin: auto;
      }
    }
  </style>
</Layout>
