---
// @ts-nocheck
import Layout from "../Layout.astro";
import Skitse from "../pages/skitse/[id].astro";
const response = await fetch(
  "https://edmdwdbbleydenvducsr.supabase.co/rest/v1/skitse?select=*",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVkbWR3ZGJibGV5ZGVudmR1Y3NyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU2MTk3MDQsImV4cCI6MjAzMTE5NTcwNH0.FuI_0k2FhT6bryNsIK2YrNwfo_XJGqVMm9bbVrtxHrU",
    },
  }
);

const data = await response.json();
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
    <Layout>
      {
        data.map((skitse) => {
          return (
            <Skitse
              navn={skitse.navn}
              pris={skitse.pris}
              maal={skitse.maal}
              type={skitse.type}
              storrelse={skitse.storrelse}
              skitseimg={skitse.skitseimg}
              beskrivelse={skitse.beskrivelse}
              kunstner={skitse.kunstner}
            />
          );
        })
      }
    </Layout>
  </body>
</html>
