---
import KnapKurv from "./Knap_kurv.astro";
const { kunstner, materiale, pris, id, img1, varenummer, maal } = Astro.props;
---

<a href={`/merch/${id}`}>
  <section>
    <div class="card">
      <div class="image-container">
        <img src="/hjerte.webp" alt="hjerte" class="heart_img" />
        <img src={img1} alt="billede af merchandise" class="main_img" />
      </div>
      <p class="kunstner">{kunstner}</p>
      <p class="merch_nr">{varenummer}</p>
      <div class="info">
        <p class="materiale">{materiale}</p>
        <p class="pris">{pris}</p>
        <p class="maal">{maal}</p>
      </div>
      <div class="knap">
        <KnapKurv class="knapkurv" />
      </div>
    </div>
  </section>

  <style>
    section {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    a {
      text-decoration: none;
    }
    .main_img {
      width: 250px;
      height: 350px;
    }
    .image-container {
      padding-top: 90px;
      position: relative;
      display: inline-block;
    }

    img.heart_img {
      width: 35px;
      height: 32px;
      position: absolute;
      top: 100px; /* Juster efter behov */
      right: 10px; /* Juster efter behov */
    }

    .knap {
      display: flex;
      justify-content: center; /* Centrerer knappen horisontalt */
      width: 100%; /* Gør containeren lige så bred som card */
      margin-top: 10px; /* Tilføjer lidt margin over knappen */
    }

    .info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-decoration: none;
      max-width: 246px;
      height: 100px;
    }

    p {
      color: var(--farve1);
    }

    .pris {
      color: var(--farve3);
      font-size: 20px;
    }

    .kunstner {
      color: var(--farve1);
      font-size: 25px;
    }

    .materiale {
      color: var(--farve2);
      text-decoration: none;
    }

    .card {
      text-decoration: none;
      margin: 0 0 40px 0;
    }
  </style>
</a>
