---
const { skitseimg, kunstner, maal, id, pris } = Astro.props;
---

<a href={`/skitse/${id}`}>
  <section>
    <div class="card">
      <img src={skitseimg} alt="billede af skitse" />
      <p class="kunstner">{kunstner}</p>
      <div class="info">
        <p class="størrelse">{maal}</p>
        <p class="pris">{pris}</p>
      </div>
    </div>
  </section>
</a>

<style>
  img {
    width: 250px;
    padding-bottom: 20px;
  }

  .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 300px;
    padding-top: 10px;
    text-decoration: none;
  }

  p {
    color: var(--farve1);
    text-decoration: none;
  }

  .pris {
    color: var(--farve3);
    font-size: 20px;
    text-decoration: none;
  }

  .kunstner {
    color: var(--farve1);
    font-size: 25px;
  }

  .kunster p {
    text-decoration: none;
  }

  .størrelse {
    color: var(--farve2);
    text-decoration: none;
  }

  .card {
    padding: 10px;
    text-decoration: none;
  }
</style>
